.App {
	color: white;
	width: 100%;
}

.inputs {
	margin: 1% 1% 2% 5%;
	width: 65%;
}

.inputs h2 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
}

.inputs label {
	float: left;
}

.input-buttons {
	border: 1px solid black;
	border-left: none;
	border-radius: 5px;
	background-color: rgb(53, 53, 53);
	border-radius: 0 5px 5px 0;
}

.select-button {
	border: 1px solid black;
	border-right: none;
	border-left: none;
	background-color: rgb(53, 53, 53);
}

.input-buttons svg,
.select-button svg {
	color: white;
}
